// Gratitude cms block  ================================================================================================
@gratitude-title_font-size__min: 40px;
@gratitude-title_font-size__max: 80px;
@gratitude-content_font-size__min: 18px;
@gratitude-content_font-size__max: 36px;
@gratitude-title_margin-bottom__min: 20px;
@gratitude-title_margin-bottom__max: 40px;
@gratitude-text_margin-bottom__min: 18px;
@gratitude-text_margin-bottom__max: 36px;
@gratitude-content_indent: 17%;
@gratitude_padding-top__min: 50px;
@gratitude_padding-top__max: 100px;
@gratitude_padding-bottom__min: 60px;
@gratitude_padding-bottom__max: 120px;
@gratitude-background_width__min: 130px;
@gratitude-background_width__max: 260px;
@gratitude-background_height__min: 300px;
@gratitude-background_height__max: 600px;
@gratitude-background_margin-right__min: 36px;
@gratitude-background_margin-right__max: 72px;
@gratitude-background_top__min: -36px;
@gratitude-background_top__max: -72px;

& when (@media-common = true) {
  .gratitudeBlock {
    padding: @gratitude_padding-top__min 0 @gratitude_padding-bottom__min;
    text-align: center;
    color: @pweb-color-primary;

    &-content {
      position: relative;
      margin: 0 @gratitude-content_indent;
      font-size: @gratitude-content_font-size__min;

      &:before {
        content: '';
        position: absolute;
        top: @gratitude-background_top__min;
        right: 100%;
        margin-right: @gratitude-background_margin-right__min;
        display: inline-block;
        width: @gratitude-background_width__min;
        height: @gratitude-background_height__min;
        background: url("../images/bgElements/cms-home-bg.png") top left / cover no-repeat;
      }
    }

    &-title {
      font-size: @gratitude-title_font-size__min;
      margin: 0 0 @gratitude-title_margin-bottom__min;
    }

    &-subTitle {
      margin: 0;
      font-weight: 700;
      font-size: inherit;
    }

    &-text {
      margin: 0 0 @gratitude-text_margin-bottom__min;
      font-size: inherit;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// 1440px and more
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
  .gratitudeBlock {
    .calcFluidSize(padding-top; @gratitude_padding-top__min; @gratitude_padding-top__max);
    .calcFluidSize(padding-bottom; @gratitude_padding-bottom__min; @gratitude_padding-bottom__max);

    &-title {
      .calcFluidSize(font-size; @gratitude-title_font-size__min; @gratitude-title_font-size__max);
      .calcFluidSize(margin-bottom; @gratitude-title_margin-bottom__min; @gratitude-title_margin-bottom__max);
    }

    &-content {
      .calcFluidSize(font-size; @gratitude-content_font-size__min; @gratitude-content_font-size__max);

      &:before {
        .calcFluidSize(width; @gratitude-background_width__min; @gratitude-background_width__max);
        .calcFluidSize(height; @gratitude-background_height__min; @gratitude-background_height__max);
        .calcFluidSize(margin-right; @gratitude-background_margin-right__min; @gratitude-background_margin-right__max);
        top: ~"calc( ((100vw - 1440px)/1440 * 36 + 36px) * -1)";
      }
    }

    &-text {
      .calcFluidSize(margin-bottom; @gratitude-text_margin-bottom__min; @gratitude-text_margin-bottom__max);
    }
  }
}

// 2880px and more
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__rt15) {
  .gratitudeBlock {
    padding: @gratitude_padding-top__max 0 @gratitude_padding-bottom__max;

    &-content {
      font-size: @gratitude-content_font-size__max;

      &:before {
        top: @gratitude-background_top__max;
        width: @gratitude-background_width__max;
        height: @gratitude-background_height__max;
        margin-right: @gratitude-background_margin-right__max;
      }
    }

    &-title {
      font-size: @gratitude-title_font-size__max;
      margin-bottom: @gratitude-title_margin-bottom__max;
    }

    &-text {
      margin-bottom: @gratitude-text_margin-bottom__max;
    }
  }
}
// End Gratitude cms block  ============================================================================================
