// Social links cms block  =============================================================================================
@social-logo_url: "../images/Logo-Portofoonweb-medium.png";
@social-logo_width__min: 185px;
@social-logo_width__max: 370px;
@social-logo_height__min: 39px;
@social-logo_height__max: 78px;
@social-logo_indent__min: 24px;
@social-logo_indent__max: 48px;
@social-link_font-size__min: 45px;
@social-link_font-size__max: 90px;
@social-list-item_indent__min: 10px;
@social-list-item_indent__max: 20px;
@social-block_margin-bottom__min: 63px;
@social-block_margin-bottom__max: 126px;

@socialFooter-logo_url: "../images/Logo-Portofoonweb-small.png";
@socialFooter-logo_width__min: 110px;
@socialFooter-logo_width__max: 220px;
@socialFooter-logo_height__min: 22.5px;
@socialFooter-logo_height__max: 45px;
@socialFooter-logo_indent__min: 15px;
@socialFooter-logo_indent__max: 30px;
@socialFooter-link_font-size__min: 25px;
@socialFooter-link_font-size__max: 50px;
@socialFooter-list-item_indent__min: 18px;
@socialFooter-list-item_indent__max: 36px;

& when (@media-common = true) {
  .socialLinks-cms-home {
    display: flex;
    align-items: center;

    .pw-logo {
      display: inline-block;
    }

    ul {
      display: inline-flex;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      margin-bottom: 0;
    }

    a {
      display: inline-block;
      font-size: 0;
      line-height: 0;
      color: transparent;

      &:before {
        font-family: @font-family-font-awesome;
        line-height: 1;
        transition: color .1s ease-in-out;
      }
    }

    .fb:before {
      content: @pweb-icon-fb;
    }

    .tw:before {
      content: @pweb-icon-tw;
    }

    .main & {
      justify-content: center;
      margin-bottom: @social-block_margin-bottom__min;

      .pw-logo {
        width: @social-logo_width__min;
        height: @social-logo_height__min;
        margin-right: @social-logo_indent__min;
        background: url(@social-logo_url) center/contain no-repeat;
      }

      li:not(:last-child) {
        margin-right: @social-list-item_indent__min;
      }

      a {
        &:before {
          font-size: @social-link_font-size__min;
          color: @pweb-color-accent;
        }

        &:hover:before {
          color: @pweb-color-accent2
        }
      }
    }

    .newsletterBlock & {
      justify-content: start;

      .pw-logo {
        width: @socialFooter-logo_width__min;
        height: @socialFooter-logo_height__min;
        margin-right: @socialFooter-logo_indent__min;
        background: url(@socialFooter-logo_url) center/contain no-repeat;
      }

      li:not(:last-child) {
        margin-right: @socialFooter-list-item_indent__min;
      }

      a {
        &:before {
          font-size: @socialFooter-link_font-size__min;
          color: @color-white;
        }

        &:hover:before {
          color: @pweb-color-accent
        }
      }
    }
  }
}

// 1440px and more
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
  .socialLinks-cms-home {
    .main & {
      .calcFluidSize(margin-bottom; @social-block_margin-bottom__min; @social-block_margin-bottom__max);

      .pw-logo {
        .calcFluidSize(width; @social-logo_width__min; @social-logo_width__max);
        .calcFluidSize(height; @social-logo_height__min; @social-logo_height__max);
        .calcFluidSize(margin-right; @social-logo_indent__min; @social-logo_indent__max);
      }

      li:not(:last-child) {
        .calcFluidSize(margin-right; @social-list-item_indent__min; @social-list-item_indent__max);
      }

      a:before {
        .calcFluidSize(font-size; @social-link_font-size__min; @social-link_font-size__max);
      }
    }

    .newsletterBlock & {
      .pw-logo {
        .calcFluidSize(width; @socialFooter-logo_width__min; @socialFooter-logo_width__max);
        .calcFluidSize(height; @socialFooter-logo_height__min; @socialFooter-logo_height__max);
        .calcFluidSize(margin-right; @socialFooter-logo_indent__min; @socialFooter-logo_indent__max);
      }

      li:not(:last-child) {
        .calcFluidSize(margin-right; @socialFooter-list-item_indent__min; @socialFooter-list-item_indent__max);
      }

      a:before {
        .calcFluidSize(font-size; @socialFooter-link_font-size__min; @socialFooter-link_font-size__max);
      }
    }
  }
}

// 2880px and more
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__rt15) {
  .socialLinks-cms-home {
    .main & {
      margin-bottom: @social-block_margin-bottom__max;

      .pw-logo {
        width: @social-logo_width__max;
        height: @social-logo_height__max;
        margin-right: @social-logo_indent__max;
      }

      li:not(:last-child) {
        margin-right: @social-list-item_indent__max;
      }

      a:before {
        font-size: @social-link_font-size__max;
      }
    }

    .newsletterBlock & {
      .pw-logo {
        width: @socialFooter-logo_width__max;
        height: @socialFooter-logo_height__max;
        margin-right: @socialFooter-logo_indent__max;
      }

      li:not(:last-child) {
        margin-right: @socialFooter-list-item_indent__max;
      }

      a:before {
        font-size: @socialFooter-link_font-size__max;
      }
    }
  }
}
// End social links cms block  =========================================================================================
