& when (@media-common = true) {
  .vendorsSlider {
    &__page {
      padding: 100px 0;
    }

    &__home {
      margin: 0 auto 4px;
      max-width: 100%;
      padding: 40px @layout-indent__width;
      border-top: 2px solid @color-gray-middle2;
      border-bottom: 2px solid @color-gray-middle2;
      box-sizing: border-box;
    }

    .slick-track {
      display: flex;
      align-items: baseline;
    }

    .slick-slide {
      display: none;
      text-align: center;

      a, img {
        display: inline-block;
      }
    }
  }
}
