<?php
/** @var \Magento\Newsletter\Block\Subscribe $block */
?>
<div class="newsletterBlock">
    <div class="footerTitle"><?= $block->escapeHtml(__('Newsletter')) ?></div>
    <div class="newsletterBlock-text">
        <?= $block->escapeHtml(__('Would you like to be kept informed of the latest Techniques & Offers in the field of Walkie-talkies?')) ?>
    </div>
    <form class="newsletterBlock-form"
          novalidate
          action="<?= $block->escapeUrl($block->getFormActionUrl()) ?>"
          method="post"
          data-mage-init='{"validation": {"errorClass": "mage-error"}}'
          id="newsletter-validate-detail">
        <input name="email"
               type="email"
               id="newsletter"
               class="newsletterBlock-input"
               placeholder="<?= $block->escapeHtmlAttr(__('Your email address...')) ?>"
               data-mage-init='{"mage/trim-input":{}}'
               data-validate="{required:true, 'validate-email':true}"/>
        <button class="newsletterBlock-action"
                title="<?= $block->escapeHtmlAttr(__('Subscribe')) ?>"
                type="submit"
                aria-label="Subscribe">
        </button>
    </form>

    <?= $block->getChildHtml('Social_links_cms_footer') ?>
</div>
