@copyright__background-color: @pweb-color-accent;
@copyright_font-size__min: 18px;
@copyright_font-size__max: 36px;
@copyright_padding-top__min: 10px;
@copyright_padding-top__max: 20px;
@copyright_padding-bottom__min: 7px;
@copyright_padding-bottom__max: 14px;

& when (@media-common = true) {
  .copyright {
    font-size: @copyright_font-size__min;
    padding: @copyright_padding-top__min 0 @copyright_padding-bottom__min;
    line-height: 1;
  }
}

// 1440px and more
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
  .copyright {
    .calcFluidSize(font-size; @copyright_font-size__min; @copyright_font-size__max);
    .calcFluidSize(padding-top; @copyright_padding-top__min; @copyright_padding-top__max);
    .calcFluidSize(padding-bottom; @copyright_padding-bottom__min; @copyright_padding-bottom__max);
  }
}

// 2880px and more
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__rt15) {
  .copyright {
    font-size: @copyright_font-size__max;
    padding: @copyright_padding-top__max 0 @copyright_padding-bottom__max;
  }
}
