// Navigation  =========================================================================================================
@navigation__background: @pweb-color-gray;
@_nav-level0-item__active__border-color: @pweb-color-accent;

@pweb-nav-lvl0_font-size__min: 18.5px;
@pweb-nav-lvl0_font-size__max: 39px;
@pweb-nav-lvl0_padding-indent__min: 18px;
@pweb-nav-lvl0_padding-indent__max: 38px;
@pweb-nav-lvl0_padding-margin__min: 32.5px;
@pweb-nav-lvl0_padding-margin__max: 65px;

& when (@media-common = true) {
  .navigation {
    & > .ui-menu {
      text-align: right;
    }
  }
}

// 768px and more
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .lib-main-navigation-desktop(
    @_nav-background-color: @navigation__background,
    @_nav-level0-item__active__border-color: @pweb-color-accent,
    @_nav-level0-item-padding: @pweb-nav-lvl0_padding-indent__min 0,
    @_nav-level0-item-margin: 0 @pweb-nav-lvl0_padding-margin__min 0 0,
    @_nav-level0-item-color: @pweb-color-grey-1,
    @_nav-level0-item-line-height: 1,
    @_nav-font-weight: 500
  );

  .navigation {
    padding: 0 @layout-indent__width;

    .level0 {
      & > .level-top {
        font-size: @pweb-nav-lvl0_font-size__min;
        text-transform: uppercase;
      }
    }
  }
}

// 1440px and more
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
  .navigation {
    .calcFluidSize(font-size; @login-btn__font-size__min; @login-btn__font-size__max);

    .level0 {
      &:not(:last-child) {
        .calcFluidSize(margin-right; @pweb-nav-lvl0_padding-margin__min; @pweb-nav-lvl0_padding-margin__max);
      }

      & > .level-top {
        .calcFluidSize(font-size; @pweb-nav-lvl0_font-size__min; @pweb-nav-lvl0_font-size__max);
        .calcFluidSize(padding-top; @pweb-nav-lvl0_padding-indent__min; @pweb-nav-lvl0_padding-indent__max);
        .calcFluidSize(padding-bottom; @pweb-nav-lvl0_padding-indent__min; @pweb-nav-lvl0_padding-indent__max);
      }
    }
  }
}

// 2880px and more
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__rt15) {
  .navigation {
    font-size: @login-btn__font-size__max;

    .level0 {
      &:not(:last-child) {
        margin-right: @pweb-nav-lvl0_padding-margin__max;
      }

      & > .level-top {
        font-size: @pweb-nav-lvl0_font-size__max;
        padding-top: @pweb-nav-lvl0_padding-indent__max;
        padding-bottom: @pweb-nav-lvl0_padding-indent__max;
      }
    }
  }
}
// END Navigation  =====================================================================================================
