<?php
/**
 * @var Portofoonweb\Theme\Block\Html\contactInfo
 */
?>
<div class="footerContacts">
    <div class="footerTitle"><?= $block->escapeHtml(__('Contact details')); ?></div>
    <ul class="footerContacts-group">
        <?php if ($block->getStorePhone()) : ?>
            <li class="footerText-item">
                <?= $block->escapeHtml($block->getStoreName()); ?>
            </li>
        <?php endif; ?>
        <?php if ($block->getStoreStreetLane1()) : ?>
            <li class="footerText-item">
                <?= $block->escapeHtml($block->getStoreStreetLane1()); ?>
            </li>
        <?php endif; ?>
        <?php if ($block->getStoreStreetLane2()) : ?>
            <li class="footerText-item">
                <?= $block->escapeHtml($block->getStoreStreetLane2()); ?>
            </li>
        <?php endif; ?>
    </ul>
    <ul class="footerContacts-group">
        <?php if ($block->getStorePhone()) : ?>
            <li class="footerText-item footerText-item__parent">
                <a class="footerContacts-link" href="tel:<?= $block->escapeHtml($block->getStoreEmail()); ?>">
                    <?= $block->escapeHtml($block->getStorePhone()); ?>
                </a>
            </li>
        <?php endif; ?>
        <?php if ($block->getStoreEmail()) : ?>
            <li class="footerText-item footerText-item__parent">
                <a class="footerContacts-link" href="mailto:<?= $block->escapeHtml($block->getStoreEmail()); ?>">
                    <?= $block->escapeHtml($block->getStoreEmail()); ?>
                </a>
            </li>
        <?php endif; ?>
    </ul>
    <ul class="footerContacts-group">
        <?php if ($block->getStoreKvkNumber()) : ?>
            <li class="footerText-item">
                <?= $block->escapeHtml(__('K.v.K nr: %1', $block->getStoreKvkNumber())); ?>
            </li>
        <?php endif; ?>

        <?php if ($block->getStoreBtwNumber()) : ?>
            <li class="footerText-item">
                <?= $block->escapeHtml(__('VAT nr: %1', $block->getStoreBtwNumber())); ?>
            </li>
        <?php endif; ?>
    </ul>
</div>
