<?php
/**
 * @var Portofoonweb\Theme\Block\Html\ContactInfo $block
 */
?>
<div class="headerContacts">
    <div class="headerContacts-phoneGroup">
        <span class="headerContacts-phoneAsk"><?= $block->escapeHtml(__('Do you have questions?')); ?></span>
        <?php if ($block->getStorePhone()) : ?>
            <span class="headerContacts-phoneWrap">
                <span class="headerContacts-phoneTitle"><?= $block->escapeHtml(__('Call')); ?></span>
                <a href="tel:<?= $block->escapeHtml(__($block->getStorePhone())); ?>"
                   class="headerContacts-phone">
                    <?= $block->escapeHtml(__($block->getStorePhone())); ?>
                </a>
            </span>
        <?php endif; ?>
    </div>
    <?php if ($block->getStoreHours()) : ?>
        <div class="headerContacts-hours"><?= $block->escapeHtml(__($block->getStoreHours())); ?></div>
    <?php endif; ?>
</div>
