// Header contacts =====================================================================================================
@headerContacts-phoneAsk__font-size__min: 25px;
@headerContacts-phoneAsk__font-size__max: 50px;

@headerContacts-phone__font-size__min: 31px;
@headerContacts-phone__font-size__max: 62px;

@headerContacts-hours__font-size__min: 13px;
@headerContacts-hours__font-size__max: 26px;

@headerContacts-bg__width__min: 26.5px;
@headerContacts-bg__width__max: 53px;
@headerContacts-bg__height__min: 40.5px;
@headerContacts-bg__height__max: 81px;

@headerContacts__padding-left_min: 39px;
@headerContacts__padding-left_max: 78px;

& when (@media-common = true) {
    .headerContacts {
        position: relative;
        flex: 0 0 auto;
        padding-left: @headerContacts__padding-left_min;

        &:before {
            content: '';
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: @headerContacts-bg__width__min;
            height: @headerContacts-bg__height__min;
            background: url("../images/icons/phone-big-icon.png") center/cover no-repeat;
        }

        &-phoneAsk {
            color: @pweb-color-grey-2;
            font-size: @headerContacts-phoneAsk__font-size__min;
            line-height: 1;
            letter-spacing: -1px;
        }

        &-phoneWrap {
            font-family: @font-family__accent;
            color: @pweb-color-green-1;
            line-height: 1;
            letter-spacing: -2px;
        }

        &-phoneTitle {
            font-size: @headerContacts-phone__font-size__min;
        }

        &-phone {
            font-size: @headerContacts-phone__font-size__min;
            color: @pweb-color-green-1;
            transition: color .2s ease-in-out;

            &:hover {
                color: @pweb-color-accent2;
                text-decoration: none;
            }
        }

        &-hours {
            color: @pweb-color-grey-2;
            font-size: @headerContacts-hours__font-size__min;
        }
    }
}

// 1440px and more
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .headerContacts {
        .calcFluidSize(padding-left; @headerContacts__padding-left_min; @headerContacts__padding-left_max);

        &:before {
            .calcFluidSize(width; @headerContacts-bg__width__min; @headerContacts-bg__width__max);
            .calcFluidSize(height; @headerContacts-bg__height__min; @headerContacts-bg__height__max);
        }

        &-phoneAsk {
            .calcFluidSize(font-size; @headerContacts-phoneAsk__font-size__min; @headerContacts-phoneAsk__font-size__max);
        }

        &-phoneTitle {
            .calcFluidSize(font-size; @headerContacts-phone__font-size__min; @headerContacts-phone__font-size__max);
        }

        &-phone {
            .calcFluidSize(font-size; @headerContacts-phone__font-size__min; @headerContacts-phone__font-size__max);
        }

        &-hours {
            .calcFluidSize(font-size; @headerContacts-hours__font-size__min; @headerContacts-hours__font-size__max);
        }
    }
}

// 2880px and more
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__rt15) {
    .headerContacts {
        padding-left: @headerContacts__padding-left_max;

        &:before {
            width: @headerContacts-bg__width__max;
            height: @headerContacts-bg__height__max;
        }

        &-phoneAsk {
            font-size: @headerContacts-phoneAsk__font-size__max;
        }

        &-phoneTitle {
            font-size: @headerContacts-phone__font-size__max;
        }

        &-phone {
            font-size: @headerContacts-phone__font-size__max;
        }

        &-hours {
            font-size: @headerContacts-hours__font-size__max;
        }
    }
}
// End header contacts =================================================================================================
