// Footer variables ====================================================================================================
@footer-title_font-size__min: 25px;
@footer-title_font-size__max: 50px;
@footer-title_indent__min: 25px;
@footer-title_indent__max: 50px;
@footer-group_indent_min: 15px;
@footer-group_indent_max: 30px;
@footer-text_font-size__min: 18px;
@footer-text_font-size__max: 32px;
@footer-text_color: @color-white;
@footer__background-color: @pweb-color-primary;

// Footer contacts  variables ==========================================================================================
@footer-contacts-group_indent__min: 23px;
@footer-contacts-group_indent__max: 46px;
@footer-contacts-parent_indent__min: 23px;
@footer-contacts-parent_indent__max: 46px;
// Footer links variables ==============================================================================================
@footer-links_line-height__min: 30px;
@footer-links_line-height__max: 45px;
// Footer newsletter variables =========================================================================================
@footer-newsletter_max-width__min: 227px;
@footer-newsletter_max-width__max: 555px;
@footer-newsletter-text_indent__min: 8px;
@footer-newsletter-text_indent__max: 16px;
@footer-newsletter_font-size__min: 18px;
@footer-newsletter_font-size__max: 36px;
@footer-newsletter-form_height__min: 30px;
@footer-newsletter-form_height__max: 60px;
@footer-newsletter-form_indent__min: 12px;
@footer-newsletter-form_indent__max: 24px;
@footer-newsletter-input_padding-top__min: 7px;
@footer-newsletter-input_padding-top__max: 14px;
@footer-newsletter-input_padding-right__min: 27px;
@footer-newsletter-input_padding-right__max: 54px;
@footer-newsletter-input_padding-bottom__min: 8px;
@footer-newsletter-input_padding-bottom__max: 16px;
@footer-newsletter-input_padding-left__min: 8px;
@footer-newsletter-input_padding-left__max: 16px;
@footer-newsletter-button_indent__min: 8px;
@footer-newsletter-button_indent__max: 16px;

& when (@media-common = true) {
// Footer ==============================================================================================================
  .footerTextMixin(@lh: normal; @ws: nowrap) {
    font-size: @footer-text_font-size__min;
    color: @footer-text_color;
    line-height: @lh;
    white-space: @ws;

    a& {
      transition: color .1s ease-in-out;

      &:hover {
        color: @pweb-color-accent;
        text-decoration: none;
      }

      &:visited {
        color: @pweb-color-accent;
      }
    }
  }

  .footer.content {
    display: flex;
    justify-content: space-between;
    align-items: start;

    li {
      list-style-type: none;
    }
  }

  .footerTitle {
    font-size: @footer-title_font-size__min;
    margin-bottom: @footer-title_indent__min;
    color: @footer-text_color;
    line-height: 1;
    white-space: nowrap;
    text-transform: uppercase;
  }

  .footerText-item {
    .footerTextMixin();
  }

  .footerContacts-link {
    .footerTextMixin(@footer-links_line-height__min);
  }
// End footer ==========================================================================================================
// Footer links ========================================================================================================

  .footerLinks {
    padding-right: @footer-group_indent_min;

    &-link {
      .footerTextMixin();
    }
  }

// End footer links ====================================================================================================
// Footer newsletter ===================================================================================================
  .newsletterBlock {
    max-width: @footer-newsletter_max-width__min;

    &-text {
      .footerTextMixin(@ws: normal);
      margin-bottom: @footer-newsletter-text_indent__min;
    }

    &-form {
      position: relative;
      height: @footer-newsletter-form_height__min;
      margin-bottom: @footer-newsletter-form_indent__min;
    }

    .newsletterBlock-input {
      height: 100%;
      font-size: @footer-newsletter_font-size__min;
      font-style: italic;
      color: @color-white;
      background-color: @pweb-color-primary;
      border: 1px solid @pweb-color-accent;
      border-radius: 10px;
      padding: @footer-newsletter-input_padding-top__min
               @footer-newsletter-input_padding-right__min
               @footer-newsletter-input_padding-bottom__min
               @footer-newsletter-input_padding-left__min;

      &::placeholder {
        color: @color-gray-middle2;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: @color-gray-middle2;
        opacity: 1;
      }

      &::-ms-input-placeholder {
        color: @color-gray-middle2;
        opacity: 1;
      }

      &:focus {
        box-shadow: none;
      }
    }

    .newsletterBlock-action {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      background: none;
      border: none;
      padding: 0;
      font-weight: 400;
      box-shadow: none;
      font-family: @font-family-font-awesome;

      &:before {
        content: @pweb-icon-plane;
        display: inline-block;
        padding-right: @footer-newsletter-button_indent__min;
        font-size: @footer-newsletter_font-size__min;
        line-height: 1;
        color: #fff;
        transition: .1s ease-in-out;
      }

      &:hover {
        background: inherit;
        border: inherit;

        &:before {
          color: @pweb-color-accent;
        }
      }
    }
  }
}
// End footer newsletter ===============================================================================================

//768px and more
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
// Footer contacts =====================================================================================================
  .footer.content {
    .footerContacts {
      padding-right: @footer-group_indent_min;

      &-group {
        padding-right: 0;

        &:not(:last-child) {
          padding-bottom: @footer-title_indent__min;
        }
      }
    }
  }
// End footer contacts =================================================================================================
}

// 1440px and more
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
// Footer ==============================================================================================================
  .footerTitle {
    .calcFluidSize(font-size; @footer-title_font-size__min; @footer-title_font-size__max);
    .calcFluidSize(margin-bottom; @footer-title_indent__min; @footer-title_indent__max);
  }

  .footerText-item,
  .footerContacts-link,
  .footerLinks-link,
  .newsletterBlock-text {
    .calcFluidSize(font-size; @footer-text_font-size__min; @footer-text_font-size__max);
  }
// End footer ==========================================================================================================
// Footer contacts =====================================================================================================
  .footerContacts {
    .calcFluidSize(padding-right; @footer-group_indent_min; @footer-group_indent_max);

    &-group:not(:last-child) {
      .calcFluidSize(padding-bottom; @footer-title_indent__min; @footer-title_indent__max);
    }
  }
// End footer contacts =================================================================================================
// Footer links ========================================================================================================
  .footerLinks {
    .calcFluidSize(padding-right; @footer-group_indent_min; @footer-group_indent_max);

    &-link {
      .calcFluidSize(line-height; @footer-links_line-height__min; @footer-links_line-height__max);
    }
  }
// End footer links ====================================================================================================
// Footer newsletter ===================================================================================================
  .newsletterBlock {
    .calcFluidSize(max-width; @footer-newsletter_max-width__min; @footer-newsletter_max-width__max);

    .newsletterBlock-text {
      .calcFluidSize(margin-bottom; @footer-newsletter-text_indent__min; @footer-newsletter-text_indent__max);
    }

    .newsletterBlock-form {
      .calcFluidSize(height; @footer-newsletter-form_height__min; @footer-newsletter-form_height__max);
      .calcFluidSize(margin-bottom; @footer-newsletter-form_indent__min; @footer-newsletter-form_indent__max);
    }

    .newsletterBlock-input {
      .calcFluidSize(font-size; @footer-newsletter_font-size__min; @footer-newsletter_font-size__max);
      .calcFluidSize(padding-top; @footer-newsletter-input_padding-top__min; @footer-newsletter-input_padding-top__max);
      .calcFluidSize(padding-right; @footer-newsletter-input_padding-right__min; @footer-newsletter-input_padding-right__max);
      .calcFluidSize(padding-bottom; @footer-newsletter-input_padding-bottom__min; @footer-newsletter-input_padding-bottom__max);
      .calcFluidSize(padding-left; @footer-newsletter-input_padding-left__min; @footer-newsletter-input_padding-left__max);
    }

    .newsletterBlock-action:before {
      .calcFluidSize(font-size; @footer-newsletter_font-size__min; @footer-newsletter_font-size__max);
      .calcFluidSize(padding-right; @footer-newsletter-button_indent__min; @footer-newsletter-button_indent__max);
    }
  }
// End footer newsletter ===============================================================================================
}

// 2880px and more
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__rt15) {
// Footer ==============================================================================================================
  .footerTitle {
    font-size: @footer-title_font-size__max;
    margin-bottom: @footer-title_indent__max;
  }

  .footerText-item,
  .footerContacts-link,
  .footerLinks-link,
  .newsletterBlock-text {
    font-size: @footer-text_font-size__max;
  }
// End footer ==========================================================================================================
// Footer contacts =====================================================================================================
  .footerContacts {
    padding-right: @footer-group_indent_max;

    &-group:not(:last-child) {
      padding-bottom: @footer-title_indent__max;
    }
  }
// End footer contacts =================================================================================================
// Footer links ========================================================================================================
  .footerLinks {
    padding-right: @footer-group_indent_max;

    &-link {
      line-height: @footer-links_line-height__max;
    }
  }
// End Footer links ====================================================================================================
// Footer newsletter ===================================================================================================
  .newsletterBlock {
    max-width: @footer-newsletter_max-width__max;

    &-text {
      margin-bottom: @footer-newsletter-text_indent__max;
    }

    .newsletterBlock-input {
      font-size: @footer-newsletter_font-size__max;
      padding: @footer-newsletter-input_padding-top__max
               @footer-newsletter-input_padding-right__max
               @footer-newsletter-input_padding-bottom__max
               @footer-newsletter-input_padding-left__max;
    }

    .newsletterBlock-action:before {
      padding-right: @footer-newsletter-button_indent__max;
      font-size: @footer-newsletter_font-size__max;
    }

    .newsletterBlock-form {
      height: @footer-newsletter-form_height__max;
      margin-bottom: @footer-newsletter-form_indent__max;
    }
  }
// End footer newsletter ===============================================================================================
}
