// Minicart ============================================================================================================
@minicart_left-margin__min: 32px;
@minicart_left-margin__max: 64px;

@minicart-title_font-size__min: 15px;
@minicart-title_font-size__max: 30px;

@minicart-counter_size__min: 14.5px;
@minicart-counter_size__max: 29px;
@minicart-counter_font-size__min: 13px;
@minicart-counter_font-size__max: 16px;

@cart-icon_width__min: 31px;
@cart-icon_width__max: 62px;
@cart-icon_height__min: 31px;
@cart-icon_height__max: 62px;
@cart-icon_left-margin__min: 10px;
@cart-icon_left-margin__max: 20px;

& when (@media-common = true) {
    .minicart {
        margin-left: @minicart_left-margin__min;

        .subtitle {
            color: @pweb-color-primary;
        }

        &-action {
            display: flex;
            align-items: center;

            &:hover {
                text-decoration: none;
            }
        }

        &-title {
            font-size: @minicart-title_font-size__min;
            color: @color-white;
            font-weight: 300;
        }

        &-icon {
            width: @cart-icon_width__min;
            height: @cart-icon_height__min;
            margin-left: @cart-icon_left-margin__min;
            position: relative;
            display: inline-block;
            background: url("../images/icons/cart-icon__empty.png") center/0 no-repeat,
                        url("../images/icons/cart-icon.png") center/cover no-repeat;

            &.empty {
                background-size: cover, 0;

                &:before {
                    content: '0';
                    color: @pweb-color-primary;
                }
            }

            &:before {
                content: attr(data-count);
                position: absolute;
                top: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: @minicart-counter_size__min;
                height: @minicart-counter_size__min;
                font-size: @minicart-counter_font-size__min;
                font-weight: 700;
                text-align: center;
                color: @color-white;
                border-radius: 50%;
            }
        }
    }
}

// 1440px and more
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .minicart {
        .calcFluidSize(margin-left; @minicart_left-margin__min; @minicart_left-margin__max);

        &-title {
            .calcFluidSize(font-size; @minicart-title_font-size__min; @minicart-title_font-size__max);
        }

        &-icon {
            .calcFluidSize(width; @cart-icon_width__min; @cart-icon_width__max);
            .calcFluidSize(height; @cart-icon_height__min; @cart-icon_height__max);
            .calcFluidSize(margin-left; @cart-icon_left-margin__min; @cart-icon_left-margin__max);

            &:before {
                .calcFluidSize(width; @minicart-counter_size__min; @minicart-counter_size__max);
                .calcFluidSize(height; @minicart-counter_size__min; @minicart-counter_size__max);
                .calcFluidSize(font-size; @minicart-counter_font-size__min; @minicart-counter_font-size__max);
            }
        }
    }
}

// 2880px and more
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__rt15) {
    .minicart {
        margin-left: @minicart_left-margin__max;

        &-title {
            font-size: @minicart-title_font-size__max;
        }

        &-icon {
            width: @cart-icon_width__max;
            height: @cart-icon_height__max;
            margin-left: @cart-icon_left-margin__max;

            &:before {
                width: @minicart-counter_size__max;
                height: @minicart-counter_size__max;
                font-size: @minicart-counter_font-size__max;
            }
        }
    }
}
// End Minicart ========================================================================================================

