//
//  Color variables
//  ---------------------------------------------
@pweb-color-primary: #626262;
@pweb-color-accent: #8bc53b;
@pweb-color-accent2: #29a7dd;
@pweb-color-grey-1: #4f4e4e;
@pweb-color-grey-2: #616161;
@pweb-color-green-1: #8dc73f;
@pweb-color-green-2: #8bc53b;
@pweb-color-green-3: #8cc73e;
@pweb-color-green-4: #8acdc4;
@pweb-color-gray: #e6e7e8;
